
 #navMenu 
{
	
	width: 909px;
	height: 42px;
	margin: 0 auto;
	padding: 0;
}

#navMenu ol
{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	height: 164px;
	width: 774px;
	overflow: hidden;
	
	
}

#navMenu li{
float: left;
	border-left: 1px solid #303030;
            height: 45px;
			 
         }
#navMenu li a{
border-style: none;
            border-color: inherit;
            border-width: medium;
            display: block;
	        width: 153px;
	height: 26px;
	        padding-top: 16px;
	        text-decoration: none;
	        text-align: center;
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 13px;
	        font-weight: bold;
	        color: #FFFFFF;
            margin-top: 0px;
}

#navMenu li ol
{
margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
            height: 164px;
            width: 774px;
            overflow:hidden; 	
     
}
#menu li:hover{
display:block;
visibility:visible;
position:absolute;
text-align:left;
background-color: #FFFFFF;
color:#414141;
height:164px;

}
#menu ol li a:hover
{
	background-color: #FFFFFF;
}
#menu li a:hover{

background-color: #FFFFFF;


}

#navMenu ol li a{
border-style: none;
            border-color: inherit;
            border-width: medium;
            display: block;
	        width: 153px;
	height: 26px;
	        padding-top: 16px;
	        text-decoration: none;
	        text-align: center;
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 13px;
	        font-weight: bold;
	        color: #FFFFFF;
            margin-top: 0px;
         }
#navMenu ol ol
{
	display: block;
	position: absolute;
	visibility: hidden;
	width: 135px;
	height: 56px;
	background-color: #006666;
	
}
#navMenu ol li:hover ol
{ 
	display: block;
	visibility: visible;
	position: absolute;
	text-align: left;
	color: #00592D;
	height: 164px;
	background-color: #006666;
	
 }

#navMenu a:hover, #navMenu .current_page_item a
{
	text-decoration: none;
	background-color: #003366;
	color: #FFFFFF;
	background: url(images/menu_bg.jpg) left repeat-x;
	_background: url(images/menu_bg.jpg) left repeat-x;
}
